@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: theme('maxWidth.7xl');
    margin: 0 auto;
    padding-left: theme('spacing.4');
    padding-right: theme('spacing.4');
    @media (min-width: 640px) {
        padding-left: theme('spacing.6');
        padding-right: theme('spacing.6');
    };
    @media (min-width: 1024px) { 
        padding-left: theme('spacing.8');
        padding-right: theme('spacing.8');
    };
}

.bg-login {
    background-image: url('/public/images/loginBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.raised-large {
    box-shadow: 
        -12px -12px 24px 0px rgba(255, 255, 255, .7), /* Top white shadow */
        12px 12px 24px 0px rgba(0, 0, 0, 0.1);  /* Bottom black shadow */ 
}
.raised-medium {
    box-shadow: 
        -4px -4px 8px 2px rgba(255, 255, 255, .7), /* Top white shadow */
        4px 4px 8px -2px rgba(0, 0, 0, 0.1);  /* Bottom black shadow */ 
}
.raised-small {
    box-shadow: 
        -4px -4px 6px 0px rgba(255, 255, 255, .7), /* Top white shadow */
        4px 4px 6px 0px rgba(0, 0, 0, 0.1);  /* Bottom black shadow */ 
}

.menu-item {
    position: relative;
    width: 100%;
    padding: .5rem;
    text-align: left;
}
.menu-item::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0));
}
.menu-item--light::after {
    background: linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}